.loading-overlay{transition: none;}
#publicname{text-transform:lowercase;}
::-webkit-input-placeholder {
	text-transform: initial;
}

:-moz-placeholder {
	text-transform: initial;
}

::-moz-placeholder {
	text-transform: initial;
}

:-ms-input-placeholder {
	text-transform: initial;
}
.error{color: #f23f01;display: none}
