.loading-overlay{transition: none;}
.cart-dropdown{
	margin-left: unset;
}
.cart-dropdown .dropdown-toggle .cart-count {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	right: -.5rem;
	line-height: 1;
	top: -.2rem;
	border-radius: 50%;
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
	background-color: #fb8c00;
	box-shadow: 0 7px 8px rgba(0,0,0,0.05);
}
@media screen and (max-width: 991px){
	.header-search .header-search-wrapper{right: -200px;}
	.header-search .header-search-wrapper::before{right: 196px;}
}
.checkout-progress-bar li.active::before, .checkout-progress-bar li.active>span::before {
	background-color: #fb8c00;
}
#new-checkout-address .form-group{max-width: unset}
#new-checkout-address .form-group .form-control{max-width: unset}
.table-mini-cart tr td{border: unset}
.table-mini-cart tbody tr{border-bottom: 1px solid #ccc;}
.order-summary{background-color: white;}
.product-col .product-image-container{border: none}
.complete-order{cursor: pointer}
.modal-dialog{top: 30%}
.modal-footer{border-top: none;}
.close-modal{
	border-color: #0e0e0e;
	background-color: #0e0e0e;
	color: #fff;
	box-shadow: none;
}
#publicname{text-transform:lowercase;}
::-webkit-input-placeholder {
	text-transform: initial;
}
:-moz-placeholder {
	text-transform: initial;
}
::-moz-placeholder {
	text-transform: initial;
}
:-ms-input-placeholder {
	text-transform: initial;
}
.error{color: #f23f01;display: none}
.fas.fa-trash{cursor: pointer}
.fas.fa-trash:hover{color: red}
.products-group{
	background-color: white;
	border: 1px solid #eee;
	padding: 10px;
}
.products-group .product{
	margin-top: 15px;
}
.products-group .product-image-container{
	width: 270px;
	margin: auto;
}
.image.active{z-index: 1}
.page-item.active .page-link {
	border-color: transparent;
	background-color: transparent;
	color: #fb8c00;
	border: 0.1rem solid #0e0e0e;
}
.header-search .form-control{
	text-transform: unset;
}
