.navbar-brand-text{margin-left:0}
.navbar-toggler{padding: 0}
.nav-link:focus, .nav-link:hover{background-color:unset}
.page-item{white-space: nowrap;}
.pagination-gap .page-link{border-radius: 21px; background-color: white}
.pagination-gap .page-item:first-child .page-link, .pagination-gap .page-item:last-child .page-link{border-radius: 21px;}
.pagination-gap .page-link:focus, .pagination-gap .page-link:hover{
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: white
}
.page-link{padding: .375rem 1rem;line-height: 1.25;}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.modal-dialog{
	margin: 50px auto;
}
.error{color: #f23f01;display: none}
#example_filter{
	top: -3px;
	float: right;
}
#chartdiv {
	width: 100%;
	height: 500px;
}
#example thead tr th{color: rgb(14, 14, 14)}

.alert_message {
	border: 1px solid rgba(179, 41, 0, 0.2);
	background-color: #fb8c0026;
	color: #fb8c00;
	border-radius: 0;
	padding: 1rem;
}
